<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>FirstS</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FirstS</servlet-name>
    <url-pattern>/servlet_1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FirstS</servlet-name>
    <url-pattern>/servlet_2</url-pattern>
  </servlet-mapping>
</web-app>
